.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1,
h2,
h3,
p {
  margin: 5px 0;
}

.card {
  border: 1px solid #eee;
  text-align: left;
  margin: 10px 0px;
  padding: 20px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin: 0;
  padding: 0;
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card .tag {
  background: #ede9fe;
  color: #6d28d9;
  padding: 10px 10px;
  border-radius: 5px;
}
.card .date {
  font-size: 12px;
  padding-bottom: 10px;
}
.repoList {
  list-style: none;
}

.filterBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterBar button {
  margin: 10px 5px;
}

.repoDetails {
  width: 60%;
  padding-bottom: 50px;
}

button {
  padding: 10px 10px;
  background: #7c3aed;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.box {
  border: 2px solid #eee;
  height: 400px;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 6px;
}
